:root{
--color-primary: #212121;
--color-secondary: #757575;
--color-background: #FFFFFF;
--color-link: #2196F3;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

body{
color: var(--color-primary);
background-color:var(--color-background);
font-family: "Roboto", sans-serif;
letter-spacing: 0.03em;
font-weight: 400;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

section{
	padding-top: 94px;
	padding-bottom: 94px;
}
/* CONTAINER */
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* header */
.header{
border: 1px solid #ECECEC;
}
.header-nav{
	flex-grow: 1;
	display: flex;
	align-items: center;
	}

	
.header-container {
	display: flex;
	align-items: center;
	}

.header-menu {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding: 32px 344px 32px 93px;
}

/* .header-menu2 {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding: 32px 344px 32px 93px;
} */

ul{
list-style-type: none;
padding-left: 0px;
}
.nav .current{
color:var(--color-link);
}
.web-title{
/* margin-right: 93px; */
font-size: 26px;
font-weight: 700;
font-style: normal;
font-family: "Raleway"; 
line-height: 1.15;
color:var(--color-link);
text-decoration: none;
padding: 24px 93px 25px 215px;
}
.studio{
color: var(--color-primary);
}

.link-header {
	display: block;
color: var(--color-primary);
text-decoration: none;
letter-spacing: 0.02em;
line-height: 1.14;
font-weight: 500;
font-size: 14px;
padding: 25px 0px;
}
.link-header:hover, .link-header:focus, .link-header:active {
color: var(--color-link);
}

.link-header2{
	display: block;
color: #757575;
background-color: #FFFFFF;
font-size: 14px;
font-weight: 500;
font-style: normal;
letter-spacing: 0.02em;
padding: 25px 0px 25px 0px;
text-decoration: none;
}


.link-header2:hover, .link-header2:focus, .link-header2:active {
color: var(--color-link);
}

/* Hero */

.hero {
background-color: #2F303A;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
}
.hero-title {
font-size: 44px;
background-color: #2F303A;
color: #FFFFFF;
line-height: 1.36;
text-transform: uppercase;
letter-spacing: 0.06em;
font-weight: 900;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
max-width: 696px;
}
.primary-button {
	color: #FFFFFF;
	background-color: var(--color-link);
	font-size: 16px;
	border: 0;
	line-height: 1.9;
	cursor: pointer;
	padding: 10px 32px;
	border-radius: 4px;
}

.primary-button:hover,
.primary-button:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* advantages */
.advantages-list {
display: flex;
justify-content: space-between;
padding-left: auto;
padding-right: auto;
gap: 30px;
}

.section-advantages-description {
color: #757575;
background-color: var(--color-background);
font-size: 14px;
line-height: 1.7;
}

.section-advantages-title{
color: var(--color-primary);
background-color: var(--color-background);
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}

.what-do-we-do {
color: var(--color-primary);
background-color: var(--color-background);
font-size: 36px;
line-height: 1.17;
/* text-transform: uppercase; */
letter-spacing: 0.03em;
font-weight: 700;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
text-align: center;
}
.what-do-we-do-card{
	display: flex;
	gap: 30px;
	margin: 0;
}

.team {
width: 1600px;
background-color: #F5F4FA;
padding-top: 94px;
padding-bottom: 94px;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}
.name {
background-color: var(--color-background);
}
.section-team{
width: 1600px;
color: var(--color-primary);
/* background-color: #F5F4FA; */
font-size: 36px;
line-height: 1.17;
text-transform: uppercase;
letter-spacing: 0.03em;
font-weight: 700;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
text-align: center;
}
.team-name{
color: var(--color-primary);
background-color: var(--color-background);
font-size: 16px;
font-weight: 500;
line-height: 1.13;
}

.card-name {
display: flex;
padding: 0px;
margin: 0px;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}



.team-specialty{
color: #757575;
background-color:var(--color-background);
font-size: 16px;
line-height: 1.13;
}
.web-title-footer{
font-size: 26px;
font-weight: 700;
font-style: normal;
font-family: "Raleway"; sans-serif;
color: var(--color-link);
text-decoration: none;
line-height: 1.17;
}
.studio2 {
	color: #FFFFFF;
}
footer {
background-color: #2F303A;
}
.link-footer-map{
color: #FFFFFF;
background-color: #2F303A;
font-size: 14px;
font-weight: 500;
font-style: normal;
text-decoration: none;
line-height: 1.7;
}
.footer-href-map:hover, .link-footer-map:focus, .flink-footer-map:active{
color: var(--color-link);
}
.link-footer{
color: #757575;
font-size: 14px;
font-weight: 400;
font-style: normal;
text-decoration: none;
line-height: 1.7;
}
.link-footer:hover, .link-footer:focus, .link-footer:active{
color: var(--color-link);
}

.button-portfolio{
color: var(--color-primary);
background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
border: 0;
line-height: 1.6;
letter-spacing: 0.03em;
font-family: inherit;
cursor: pointer;
}

.button-portfolio:hover, .button-portfolio:focus {
	color: #FFFFFF;
	background-color: var(--color-link);
}

.hero-portfolio {
font-weight: 400;
font-size: 16px;
background-color: var(--color-background);
color: var(--color-secondary);
line-height: 1.88;
letter-spacing: 0.03em;
}

.portfolio-title {
font-size: 18px;
background-color: var(--color-background);
color: var(--color-primary);
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
}


/* CARD-SET */
.card{
	/* width: 370px;
	height: 404px; */
		outline: 1px solid #EEEEEE;
}
.card-set{
	padding: 0;
	margin: 0;

	list-style: none;
	display: flex;
	flex-wrap: wrap;

	margin-top: - 30px;
	margin-left: - 30px;
}

/* li.item:nth-child(3n + 1) {
	margin-left: 0px;
} */
.card-set > .item{
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
}
/* .card-thumb{
	
} */

.card-heading {
	font-size: 18px;
	background-color: var(--color-background);
	color: var(--color-primary);
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	}



.card-text{
	margin-top: 4px;
}
.card-content{
		padding: 20px 20px 20px 20px;
		outline: 1px solid #EEEEEE;
}